 
@{
                Layout = null;
            }


#line default
#line hidden

#line 3 "D:\Users\DonSt\Source\repos\DonStreetKing\SteamDBCopyCatMVC\SteamDBCopyCatMVC\Views\Account\Index.cshtml"
    using (Html.BeginForm("SaveRegisterDetails", "Account"))
    {


#line default
#line hidden

#line 4 "D:\Users\DonSt\Source\repos\DonStreetKing\SteamDBCopyCatMVC\SteamDBCopyCatMVC\Views\Account\Index.cshtml"

        {}


#line default
#line hidden

#line 5 "D:\Users\DonSt\Source\repos\DonStreetKing\SteamDBCopyCatMVC\SteamDBCopyCatMVC\Views\Account\Index.cshtml"
}

<h2>Index</h2>

